main{
    width: 100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.title-services{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.ser-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.boxes-con{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

.box{
    width:250px;
    height: 200px;
    background-color: white;
    border: 2px solid gray;
    margin: 8px;
}

.top-div-services{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}